/* 
    NAME: Katherine Moore
    MEID: KAT2341012
    DATE: 08/16/2023
    FINAL PROJECT

    This page contains stylings specific to index.html
*/
/* ABOUT SECTION */
#about {
    border: 1px solid #2e67b0;
    padding: 10px;
}
#close-about, #open-about {
    float: right;
    border: none;
    background-color: #2e67b0;
    color: #f2c304;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200px;
    padding: 5px;
}


/* SUMMARY BOX */
#summary-box {
    border: 3px solid #2e67b0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

#summary-box fieldset {
    border: none;
    line-height: 1.5rem;
}

#summary-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
}
#summary-badges h2, #summary-badges p {
    flex-basis: 100%;
}
#summary-badges div {
    width: 150px;
    height: 150px;
    text-align: center;
}

#summary-pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 200px;
}