/* 
    NAME: Katherine Moore
    MEID: KAT2341012
    DATE: 08/16/2023
    FINAL PROJECT

    This page contains stylings used throughout website
*/


* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    gap: 20px;
    max-width: 1100px;
}

.text-center {
    text-align: center;
}

/* Header/Navbar */
header, #brand {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#brand img {
    max-width: 200px;
    display: inherit;
    padding-right: 10px;
}
#brand h1, #brand a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    display: inherit;
}

header nav {
    display: inherit;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    margin: auto 5px;
    padding: 10px;
}
nav a:hover {
    font-style: italic;
}
nav a.current {
    background-color: #2e67b0;
    color: #f2c304;
}



/* TABLE */
table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    vertical-align: middle;
    text-align: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: #000;
    padding: 10px 20px;
}

.pokeImg {
    width: 50px;
    height: 50px;
}

.caught {
    background-color: #009966;
}


/* TYPE COLORS */
.type {
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 5px;
}
.type-normal {
    background-color: gray;
}
.type-fire {
    background-color: firebrick;
}
.type-water {
    background-color: blue;
}
.type-electric {
    background-color: darkgoldenrod;
}
.type-grass {
    background-color: darkgreen;
}
.type-ice {
    background-color: lightcyan;
}
.type-fighting {
    background-color: brown;
}
.type-poison {
    background-color: purple;
}
.type-ground {
    background-color: sienna;
}
.type-flying {
    background-color: deepskyblue;
}
.type-psychic {
    background-color: orchid;
}
.type-bug {
    background-color: springgreen;
}
.type-rock {
    background-color: tan;
}
.type-ghost {
    background-color: midnightblue;
}
.type-dragon {
    background-color: steelblue;
}